[submodule "deps/SolidityPreprocessor"]
	path = deps/SolidityPreprocessor
	url = https://github.com/Veridise/SolidityPreprocessor.git
[submodule "deps/RustPreprocessor"]
	path = deps/RustPreprocessor
	url = https://github.com/Veridise/RustPreprocessor.git
